Copy code
* {
  box-sizing: border-box;
}
a{
  padding: 20px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: skyblue;
}

.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

input,
textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
}



button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #4d4d4d;
}